{% block sw_cms_block_bow_tut_box_preview %}
    <div class="sw-cms-block-text-image-bow-tut-box">
        <div class="block-title content-block">
            <div class="image" />
            <div class="text" />
        </div>
    </div>
{% endblock %}
