{% block sw_cms_block_bow_tut_box %}
    <div class="sw-cms-block-bow-tut-box">
        <slot name="image"></slot>
        <div class="subtitle">
            <slot name="subtitle"></slot>
        </div>
    </div>
{% endblock %}