{% block block_bow_tut_box %}
    <div class="bow-tut-box-block">
        {% block block_bow_tut_box_image %}
            {% set element = block.slots.getSlot('image') %}
            <div class="cms-element-bow-tut-box-image" data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}

        {% block block_bow_tut_box_subtitle %}
            {% set element = block.slots.getSlot('subtitle') %}
            <div class="cms-element-bow-tut-box-subtitle" data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
    </div>
{% endblock %}